@using Humanizer
@model IEnumerable<Newter.Models.Newt>
@{
    ViewBag.Title = "Home Page";
}

@foreach (var item in Model)
{

    <div class="row">
        <br />
        <br />
        <div class="col-md-1">
            <img class="img-circle" src="https://unsplash.it/50/50?image=1072">
        </div>
        <span>
            @Html.DisplayFor(modelItem => item.Author.Handle)
        </span>
        <span> @Html.DisplayFor(modelItem => item.DateCreated)</span>
        <span>@Html.DisplayFor(modelItem => item.TextBody)</span>
    </div>


}